<div #diagram id="diagram"></div>
<ul class="d-buttons">
  <li>
    <a id="js-upload-diagram" class="active" href="javascript: void(0)" title="upload BPMN diagram" (click)="startSample()">
      Up sample
    </a>
  </li>
  <li>
    <a id="js-start-diagram" class="active" href="javascript: void(0)" title="Start BPMN" (click)="startNew()">
      New BPMN
    </a>
  </li>
  <li>
    <a id="js-download-diagram" href="javascript: void(0)" title="download BPMN diagram" #downloadLink>
      BPMN diagram
    </a>
  </li>
  <li>
    <a id="js-download-svg" href="javascript: void(0)" title="download as SVG image" #downloadSvgLink>
      SVG image
    </a>
  </li>
</ul>